{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <a href="/admin"> Перейти на страницу админа</a>
  {% endif %}
  <ul class=models>
  {% for model in models %}

<table> 
 <tr>
 <td  style="vertical-align:top"><b><a href="model/{{model[0]}}">{{ model[1] }}</a></b> {{ model[2] }} {{model[3]}}  <td>
 <td><img src="/uploads/{{ model[4] }}" alt="photo" style="width:100px;height:80px;"><br><br>  </td>

 </tr>
</table>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
